<h1>Stupid Coaching</h1>

<div class="container-form">
  <div class="form-group">
    <form action="/answer" method="get">
      <label for="question">Ask your coach anything</label>
      <input type="text" name="question" placeholder="What is your question?" class="form-control">
      <button type="submit" class="btn btn-primary">Ask</button>
    </form>
  </div>
</div>
